@namespace Majunga.Libraries.RazorComponents.Components.Cards

<p class="card-text" @attributes="AdditionalAttributes">@ChildContent</p>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
}
