@namespace Majunga.Libraries.RazorComponents.Components.Forms
@using System.Linq.Expressions

<div class="form-group">
    <InputText class="form-control" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" @attributes="@AdditionalAttributes" />
</div>

@code {
    [Parameter] public string                   Value           { get; set; }
    [Parameter] public EventCallback<string>    ValueChanged    { get; set; }
    [Parameter] public Expression<Func<string>> ValueExpression { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
}
