@namespace Majunga.Libraries.RazorComponents.Components.Cards

<h6 class="card-subtitle mb-2 text-muted" @attributes="AdditionalAttributes">@ChildContent</h6>
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
}
